.about {
  @include viewport--lg {
    padding: 0 227px;
  }
}

.about__heading {
  margin: 20px 0;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @include viewport--md {
    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @include viewport--md {
    column-width: auto;
    column-count: 2;
    column-gap: 0;
  }
}

.about__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding: 20px 0;
}
