.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: $color-brown;
  text-transform: uppercase;
  background-color: $color-transparent;

  border: 2px solid $color-brown;
}
