.catalog {
  padding-top: 30px;

  @include viewport--md {
    padding-top: 66px;
  }

  @include viewport--lg {
    padding-top: 109px;
  }
}

.catalog__product-list {
  width: 260px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  @include viewport--md {
    width: 668px;
  }

  @include viewport--lg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1050px;
  }
}

.catalog__product-item {
  margin-bottom: 30px;

  &:hover .catalog__product-about {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .catalog__product-about {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @include viewport--md {
    display: grid;
    margin-bottom: 54px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include viewport--lg {
    display: block;
    width: 316px;
    margin-bottom: 57px;
  }
}

.catalog__product-about {
  border: 1px solid $color-grey;

  @include viewport--md {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 2 / 5;
  }
  /*  Временная высота для выравнивания */
  @include viewport--md {
    min-height: 225px;
  }

  @include viewport--lg {
    min-height: 198px;
  }
}

.catalog__product-link {
  display: block;
  width: 260px;
  height: 195px;

  @include viewport--md {
    width: 334px;
    height: 334px;
  }

  @include viewport--lg {
    width: 316px;
    height: 462px;
  }
}

.catalog__product-name {
  margin: 28px 28px 6px;

  font-weight: bold;
  font-size: 17px;
  color: $color-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include viewport--md {
    font-size: 20px;
    margin: 28px 32px 6px;
  }

  @include viewport--lg {
    margin: 28px 28px 6px;
  }
}

.catalog__product-description {
  margin: 0 28px 17px;

  font-size: 13px;
  line-height: 30px;
  color: $color-brown;

  @include viewport--md {
    font-size: 15px;
    margin: 0 32px 17px;
  }

  @include viewport--lg {
    margin: 0 28px 0;
  }
}

.catalog__product-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 28px;
  padding: 22px 0 26px;

  border-top: 1px solid $color-grey;

  @include viewport--md {
    margin: 0 32px;
  }

  @include viewport--lg {
    margin: 0 32px 0 26px;
  }
}

.catalog__product-price {
  font-weight: bold;

  @include viewport--md {
    font-size: 17px;
  }
}

.catalog__product-tobasket {
  fill: #cccccc;
  cursor: pointer;

  &:hover .catalog__product-tobasket-img {
    fill: $color-green;
  }

  &:active .catalog__product-tobasket-img {
    opacity: 0.3;
    fill: $color-green;
  }
}
