.catalog__product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__product-about {
  border: 1px solid $color-grey;
}

.catalog__product-link {
  color: $color-black;
}

.catalog__product-name {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.catalog__product-description {
  color: $color-brown;
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid $color-grey;
}

.catalog__product-price {
  font-weight: bold;
}
