.catalog-header {
  min-height: 177px;
  display: flex;
  flex-direction: column;
  background-color: $color-othergrey;

  @include viewport--md {
    min-height: 238px;
  }

  @include viewport--lg {
    min-height: 272px;
  }
}

.catalog-header__img {
  display: none;

  @include viewport--md {
    display: block;
    margin-top: auto;
    height: 100%;
    width: 100%;
    margin-bottom: -1px;
  }

  @include viewport--lg {
    width: auto;
  }
}

.catalog-header__title {
  margin: 0;
  padding: 74px 7px 15px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include viewport--md {
    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
  }

  @include viewport--lg {
    font-size: 53px;
    line-height: 57px;
  }
}
