.contacts {
  @include viewport--lg {
    padding-bottom: 96px;
  }
}

.contacts__top-img {
  width: 100%;
  margin: 0 auto;

  @include viewport--lg {
    width: 1050px;
  }
}

.contacts__icon-flag {
  display: none;

  @include viewport--md {
    display: block;
    position: absolute;
    right: 53px;
    top: -24px;
  }

  @include viewport--lg {
    left: 113px;
    top: 133px;
  }
}

.contacts__inner {
  position: relative;

  @include viewport--lg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 74px 1fr 1fr auto;
  }
}

.contacts__title {
  margin: 40px 0 26px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @include viewport--md {
    margin: 71px 0 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    margin: 77px 0 38px;
    font-size: 53px;
    line-height: 57px;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}

.contacts__list {
  margin-bottom: 33px;

  @include viewport--md {
    display: flex;
    margin-bottom: 47px;
  }

  @include viewport--lg {
    margin-bottom: 0;
    display: block;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.contacts__address-subtitle,
.contacts__email-subtitle,
.contacts__address,
.contacts__email {
  line-height: 30px;
  color: $color-brown;

  @include viewport--md {
    font-size: 17px;
  }
}

.contacts__email {
  margin-bottom: 30px;
  border-bottom: 1px solid $form-border;

  @include viewport--md {
    margin-bottom: 0;
    margin-right: 33px;
    height: fit-content;
  }

  @include viewport--lg {
    margin-bottom: 27px;
  }

  &:hover {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    border-color: rgba($color: #46c1ae, $alpha: 0.1);
  }
}

.contacts__address-subtitle,
.contacts__email-subtitle {
  margin-right: 33px;

  @include viewport--md {
    margin-right: 28px;
  }
}

.contacts__item {
  display: flex;

  @include viewport--md {
    margin-right: 30px;
  }
}

.contacts__map {
  position: relative;
  overflow: hidden;
  width: 100vw;
  margin-left: -30px;
  height: 457px;
  background-image: url("img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  iframe {
    position: relative;
    border: none;
    width: 100%;
    height: 100%;
  }

  @include viewport--md {
    margin-left: -50px;
    background-image: url("img/map-tablet@1x.jpg");
  }

  @include viewport--lg {
    margin-left: 0;
    width: 527px;
    grid-column: 4 / -1;
    grid-row: 2 / 5;
    background-image: url("img/map-desktop@1x.jpg");
  }
}

.contacts__write {
  margin: 38px 0 38px;
  display: flex;

  @include viewport--md {
    margin: 55px 0 57px;
  }

  @include viewport--lg {
    margin: 58px 0 9px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

.contacts__button {
  padding: 14px;
  min-width: 260px;
  display: block;
  text-align: center;
  margin: 0 auto;

  @include viewport--md {
    min-width: 230px;
  }

  @include viewport--lg {
    margin: 0;
  }
}
