.form-header {
  min-height: 177px;
  display: flex;
  flex-direction: column;
  background-color: $color-othergrey;

  @include viewport--md {
    min-height: 238px;
  }

  @include viewport--lg {
    min-height: 272px;
  }
}

.form-header__img {
  display: none;

  @include viewport--md {
    display: block;
    margin-top: auto;

    width: 100%;
    height: auto;
  }

  @include viewport--lg {
    width: auto;
  }
}

.form-header__title {
  margin: 0;
  padding: 75px 5px 20px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include viewport--md {
    padding-top: 101px;
    font-size: 43px;
    line-height: 50px;
  }

  @include viewport--lg {
    padding-top: 101px;
    font-size: 53px;
    line-height: 57px;
  }
}
