.page-header {
  position: relative;

  height: 79px;
  box-shadow: 0 1px 0 $color-grey, inset 0 1px 0 $color-grey;
  background-color: $color-white;

  @include viewport--md {
    height: 89px;
  }

  @include viewport--lg {
    height: 89px;
    box-shadow: none;
  }
}

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 49.6%;

  width: 86px;
  height: 35px;
  cursor: pointer;

  transform: translateX(-49.6%);

  &--main {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include viewport--md {
    position: absolute;
    top: 23px;
    left: 48px;

    width: 113.01px;
    height: 45.96px;

    transform: none;
  }

  @include viewport--lg {
    top: 9px;
    left: 50%;

    width: 149px;
    height: 72px;

    transform: translateX(-50%);
  }
}

.page-header__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  background-color: $color-transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &--no-js {
    display: none;
  }

  @include viewport--md {
    display: none;
  }

  span:nth-child(2) {
    display: none;
  }

  &--active {
    span:nth-child(1) {
      display: none;
    }

    span:nth-child(2) {
      display: block;
    }
  }
}
