.social {
  padding: 0;

  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  padding: 0 20px;

  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.social__link {
  fill: #231f20;

  &:hover .social__link-img {
    fill: #46c1ae;
  }

  &:active .social__link-img {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
