// Colors
//---------------------------------------

//Base

$color-black: #000000;
$color-white: #ffffff;
$color-transparent: rgba(0, 0, 0, 0);

//Font-Family
//---------------------------------------

$font-family--opensans: "Open Sans",
"Arial",
sans-serif;

//Viewports
//---------------------------------------

$viewport--xs: 320px;
$viewport--sm: 360px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1680px;
$viewport--xxl: 1920px;

//Retina
//---------------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
